/assignment3/ProductFilter/dist/
/assignment3/ProductFilter/build/
/assignment3/ProductFilter/nbproject/private/
/assignment3/AsciiGenerator/build/
/assignment3/AsciiGenerator/dist/
/assignment3/AsciiGenerator/nbproject/private/